/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
    --primary-header-clr: hsl(243, 87%, 12%);
    --primary-footer-clr: hsl(238, 22%, 44%);

    --get-started-btn: hsl(224, 93%, 58%);
    --redirect-clr: hsl(170, 45%, 43%);

    --neutral-bg-clr: hsl(240, 75%, 98%);
    --neutral-par-clr: hsl(0, 0%, 75%);

    --ff-body : 'Open Sans', sans-serif;
    /* Font family for Heading, Buttons and Nav Headers*/
    --ff-two: 'Raleway', sans-serif;

    --fw-raleway-regular: 400;
    --fw-raleway-bold: 700;

    --fw-sansSerif-regular: 400;
}

/* General styling */