/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Custom properties */
:root {
    --primary-header-clr: hsl(243, 87%, 12%);
    --primary-footer-clr: hsl(238, 22%, 44%);

    --get-started-btn: hsl(224, 93%, 58%);
    --redirect-clr: hsl(170, 45%, 43%);

    --neutral-bg-clr: hsl(240, 75%, 98%);
    --neutral-par-clr: hsl(0, 0%, 75%);

    --ff-openSans : 'Open Sans', sans-serif;
    --ff-raleway: 'Raleway', sans-serif;

    --fw-openSans-regular: 400;
    --fw-openSans-bold: 700;
    --fw-raleway-regular: 400;
    --rw-ralweat-bold: 700;
}

/* Styling */
body {
  font-family: var(--ff-openSans);
  background-color: white;
}

/* ---------------Navigation bar--------------- */
.nav-bar {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}

.nav-logo {
  max-width: 5rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 1.5rem;
  font-size: 0.75rem;
}

.nav-list a {
  text-decoration: none;
  color: var(--primary-header-clr);
}

/* ---------------Main header--------------- */
.section-header {
  padding: 5rem 1.5rem;
  text-align: center;
  display: grid;
  gap: 2.5rem;
}

.illustration-one {
  padding: 0 1rem;
}

.header-content {
  display: grid;
  gap: 1.5rem;
}

.header-title {
  font-family: var(--ff-openSans);
  line-height: 1.5;
  color: var(--primary-header-clr);
}

.header-description {
  padding: 0 1rem;
  font-size: 0.85rem;
  color: var(--primary-header-clr);
}

/* Email input manager */

.header-email-form {
  padding: 0.75rem;
  display: grid;
  gap: 1rem;
}

#typeEmail {
  padding: 1em 1.25rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  border: 1px solid black;
}

#typeEmail::placeholder {
  color: var(--neutral-par-clr);
}

#typeEmail:invalid:focus:not(:placeholder-shown) + .error-message {
  display: block;
}

#typeEmail:invalid:focus:not(:placeholder-shown) {
  border: 1px solid red;
  outline-color: red;
}

#typeEmail:valid {
  border: 1px solid green;
  outline-color: green;
}

.error-message {
  display: none;
  color: red;
  text-align: left;
  font-size: 0.75rem;
  margin: 0.25rem 0;
}

.send-email {
  background-color: var(--get-started-btn);
  border: none;
  color: white;
  padding: 0.7rem 0;
  border-radius: 0.25rem;
  font-weight: var(--fw-openSans-bold);
  font-size: 0.85rem;
}



@media screen and (min-width: 768px) {

  /* ---------------Navigation bar--------------- */
  .nav-bar {
    padding: 4rem 5rem;
  }

  .nav-logo {
    max-width: 10rem;
  }

  .nav-list {
    gap: 3.5rem;
    font-size: 1rem;
  }

  /* ---------------Main header--------------- */
  .section-header {
    grid-template-areas: "form illustration";
    grid-template-columns: 1fr 1fr;
    padding: 0 5em;
  }
  
  .illustration-one {
    grid-area: illustration;
  }

  .header-email-form {
    grid-area: form;
  }

  .header-content {
    grid-template-areas: 
    "title title"
    "description description"
    "form form";
    margin: auto 0;
    text-align: left;
  }

  .header-title {
    grid-area: title;
    font-size: 2.5em;
  }

  .header-description {
    grid-area: description;
    padding: 0;
    font-size: 1.15em;
  }

  .header-email-form {
    grid-area: form;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 0.3fr;
    padding: 0;
    padding-right: 4em;
    row-gap: 0;
  }

  .error-message {
    grid-row: 2;
  }
}